form{
  margin: 25px auto;
  text-align: center;
  width: 80%;
}
 fieldset{
  background-color: white;
}

.submit{
  margin: 15px 0 0 0;
}

.errors{
  /*border: 1px solid black;*/
  width: 80%;
  margin: 0 auto;
  text-align: center;
